In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import linear_model

In [2]:
df= pd.read_csv('housePrice.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 10 columns):
Area           1259 non-null float64
BHK            1259 non-null int64
Bathroom       1257 non-null float64
Furnishing     1254 non-null object
Locality       1259 non-null object
Parking        1226 non-null float64
Status         1259 non-null object
Transaction    1259 non-null object
Type           1254 non-null object
Price          1259 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 98.5+ KB

In [4]:
print(df.Parking.median())
print(df.Bathroom.median())

1.0
2.0

In [5]:
df.Parking.fillna(1)
df.Bathroom.fillna(2)
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Price
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,Ready_to_move,New_Property,Builder_Floor,6500000
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,Ready_to_move,New_Property,Apartment,5000000
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,Ready_to_move,Resale,Apartment,15500000
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,Ready_to_move,Resale,Builder_Floor,4200000
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,Ready_to_move,New_Property,Builder_Floor,6200000
...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,Ready_to_move,New_Property,Builder_Floor,55000000
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,Ready_to_move,Resale,Builder_Floor,12500000
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,Ready_to_move,New_Property,Builder_Floor,17500000
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,Ready_to_move,Resale,Builder_Floor,11500000
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,Ready_to_move,New_Property,Builder_Floor,18500000

In [6]:
df=df.dropna()
df.shape

(1225, 10)

In [7]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Status,Transaction,Type,Price
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,Ready_to_move,New_Property,Builder_Floor,6500000
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,Ready_to_move,New_Property,Apartment,5000000
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,Ready_to_move,Resale,Apartment,15500000
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,Ready_to_move,Resale,Builder_Floor,4200000
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,Ready_to_move,New_Property,Builder_Floor,6200000
...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,Ready_to_move,New_Property,Builder_Floor,55000000
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,Ready_to_move,Resale,Builder_Floor,12500000
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,Ready_to_move,New_Property,Builder_Floor,17500000
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,Ready_to_move,Resale,Builder_Floor,11500000
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,Ready_to_move,New_Property,Builder_Floor,18500000

In [8]:
reg=linear_model.LinearRegression()
reg.fit(df[['Area','BHK','Bathroom','Parking']],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
reg.coef_

array([ 4.35164706e+03, -1.51355026e+05,  1.46448344e+07,  8.62396830e+04])

In [10]:
reg.intercept_

-22350251.07344645

In [11]:
reg.predict([[2000,4,3,1],[1500,4,3,1]])

array([29768365.75209573, 27592542.22443056])